css
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Añado espacio entre elementos*/
  }
  img {
    max-width: 200px;
    margin: 10px; 
  }
  .title {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .title h1 {
    font-size: 30px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #52dfe9; 
  }
  mat-grid-list {
    margin: 10px;
  }
  
  mat-grid-tile {
    margin: 10px; 
    width: 220px;
    transition: transform 0.2s, margin 0.2s, box-shadow 0.2s; /* Transición en margen y sombra */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
 
  }
  mat-grid-tile:hover {
    margin-top: 5px; /* Efecto de elevación en el hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); 
  }
  mat-grid-tile:hover img {
    transform: scale(1.1);
  }
  mat-card {
    width: 80%;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  mat-card-image {
    position:absolute;
    width: 100%;
    height:100%;
    object-fit: cover; 
    margin-bottom: 50px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
  }

  mat-card-title {
    font-size: 18px; 
    margin-bottom: 5px;

  }
  mat-card-footer {
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #ffffff00, #000000); /* Gradiente suave de transparente a negro */
  color: #fff; /* Color de texto */
  font-weight: bold;
  }
  mat-panel-title h3{
    font-weight: bold;
  }
