<div class="title">
  <h1>RICK AND MORTY</h1>
</div>
<mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile *ngFor="let item of characters.results">
      <mat-card>
        <!-- <mat-card-title>
          <mat-card-title-group>
            <mat-card-title>
              <h2>{{item.name}}</h2>
            </mat-card-title>
          </mat-card-title-group>
          </mat-card-title> -->
        <img mat-card-image [src]="item.image">
        <mat-card-footer>
           <!-- <h3>{{ item.name }}</h3>  -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>{{ item.name }}</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>Status: {{ item.status }}</p>
              <p>Species: {{ item.species }}</p>
              <p>Gender: {{ item.gender }}</p>
              <p>Origin: {{ item.origin.name }}</p>
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


 